<div class="container">
    <h1 class="title">::: Catalogue de produits :::</h1>
    
    <!-- Menu de navigation -->
    <nav class="menu">
      <a routerLink="accueil" class="menu-item">Accueil</a>
      <a routerLink="list-product" class="menu-item">Liste des produits</a>
      <a routerLink="add-product" class="menu-item">Ajouter un contact</a>
    </nav>
    
    <!-- Ligne horizontale sous le menu -->
    <hr>
  
    <router-outlet></router-outlet>
  
    <!-- Footer -->
    <footer>
      <p class="footer">::: IYA AMINE Mounir - M2TIW 2024/2025 :::</p>
    </footer>
</div>